body {
    margin: 0;
    font-family: 'Comic Sans MS', sans-serif;
    background: radial-gradient(circle at center, red 0, blue, green 100%);
    min-width: 100%;
    color: white;
    cursor: url(images/fergito.png), auto;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    z-index: -5;
}
marquee {
    overflow: show;
}
h1 {
    color: hotpink;
    animation: 10s seizetwo infinite linear;
}
h2 {
    font-family: 'Papyrus', serif;
}
@keyframes seizetwo {
    0% {
        transform: rotateX(0);
    }
    20% {
        color: lightgreen;
    }
    30% {
        color: indigo;
    }
    40% {
        color: pink;
    }
    60% {
        color: yellow;
    }
    80% {
        color: blue;
    }
    90% {
        color: orange;
    }
    100% {
        transform: rotateX(1800deg);
    }
}
.row {
}
.cell {
    display: inline-block;
    vertical-align: top;
}

.spotify-container {
    display: inline-block;
}
.dryer {
    margin-left: 100px;
    display: inline-block;
    height: 200px;
}
.dryer img {
    width: 150px;
    position: relative;
    top: 0;
    display: block;
}
.dryer .lightning {
    top: -250px;
    animation-name: flash;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
@keyframes flash {
    0% {
        display: none;
    }
    50% {
        display: block;
    }
}
img {
    width: 100%;
}
.loopy {
    font-family: 'Impact', serif;
}
.color1 {
    color: pink;
}
.icon {
    width: 200px;
    display: block;
}
.icon img {
    width: 100%;
}
.icon:hover {
    transform: rotate(720deg);
    animation: 20s seize infinite ease-in;
}

.map {
    width: 700px;
    display: block;
}
.map:hover {
    filter: contrast(20);
}

.fergus {
    width: 400px;
}
.fergus img {
    width: 400px;
}
.fergus img:hover {
    transform: scale(20);
    transition: 5s ease-in;
}
@keyframes seize {
    0% {
        transform: rotate(0deg);
    }
    20% {
        filter: hue-rotate(0deg);
    }
    100% {
        transform: rotate(36000deg);
        filter: hue-rotate(36000deg);
    }
}

@media (max-width: 510px) {
    canvas {
        display: none;
    }
}
